* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-header {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header-hero {
  margin: 0;
  background-color: #f3f9fd;
}

.header {
  padding-top: 40px;
  display: flex;
}

.header__logo {
  padding-top: 5px;
}

.nav {
  display: flex;
}

.nav__list {
  width: 600px;
  padding-top: 15px;
  margin-left: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.02em;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  transition: 0.3s all ease;
  cursor: pointer;
}

.nav__link:hover {
  color: #007aff;
}

.nav__button {
  margin-right: 0px;
  margin-left: auto;
  padding: 15px 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #007aff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.nav__button:hover {
  opacity: 0.9;
}

.hero {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.hero__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__info {
  padding-top: 100px;
  padding-left: 40px;
}

.hero__info__heading {
  max-width: 650px;
  width: 100%;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.hero__info__paragraph {
  max-width: 700px;
  width: 100%;
  padding-top: 24px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #505056;
}

.hero__button {
  margin-top: 40px;
}

.hero__button-link {
  text-decoration: none;
}

.hero__button-child {
  position: relative;
  padding: 10px 11px;
  padding-left: 60px;
  color: #ffffff;
  border: 0.28223px solid #ffffff;
  background: #000000;
  mix-blend-mode: normal;
  border: 1.41115px solid #a6a6a6;
  border-radius: 7.05575px;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  transition: 0.3s all ease;
}

.hero__button-child:hover {
  transform: translateY(-5px);
}

.hero__button-child > span {
  text-align: left;
  display: block;
  text-transform: initial;
  font-size: 20px;
}

.hero__button__image {
  position: absolute;
  left: 14px;
  top: 10px;
}

.hero__button-child:last-child {
  text-transform: initial;
  padding-left: 50px;
}

.hero__button-2 {
  margin-left: 30px;
}

.trust {
  margin-top: 70px;
}

.trust__paragraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.logos {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logos-link {
  cursor: pointer;
  transition: 0.3s all ease;
}

.logos-link:hover {
  transform: translateY(-5px);
}

.logos > img {
  margin-left: 30px;
  margin-top: 30px;
}

.desc {
  margin: 100px 0px;
}

.desc__heading {
  padding: 25px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}

.desc__paragraph {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #505056;
}

.funtionality {
  display: flex;
  justify-content: center;
}

.functionality__child {
  max-width: 400px;
  width: 100%;
  margin-top: 80px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(44, 41, 41, 0.1);
  border-radius: 8px;
  margin-left: 32px;
}

.functionality__child:first-child {
  margin-left: 0px;
}

.functionality__child__image {
  margin-bottom: 18px;
}

.functionality__child__heading {
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.functionality__child__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #505056;
}

.app {
  padding-top: 50px;
  background-color: #0e1133;
}

.app .container {
  display: flex;
}

.app .container > div {
  padding-bottom: 100px;
}

.app__info {
  margin-left: 50px;
}

.app__image {
  width: 450px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -50px;
}

.app__heading {
  max-width: 750px;
  width: 100%;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.app__paragraph {
  max-width: 700px;
  width: 100%;
  padding-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secure {
  position: relative;
}

.secure__image {
  position: absolute;
  left: -50px;
}

.secure__heading {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.secure__paragraph {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.expense {
  margin-top: 100px;
}

.expense .container {
  display: flex;
}

.expense__heading {
  max-width: 700px;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000000;
}

.expense__paragraph {
  max-width: 700px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #000000;
}

.components {
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
}

.component {
  position: relative;
  width: 44%;
  margin-left: 40px;
}

.component-div {
  display: flex;
}

.component__img {
  margin-top: 3px;
}

.component__heading {
  padding-left: 8px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.component__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  padding-bottom: 48px;
}

.component__button {
  padding: 16px 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #007aff;
  background: transparent;
  border-radius: 10px;
  border: none;
  border: 1px solid #007aff;
  transition: 0.3s all ease;
  cursor: pointer;
}

.component__button:hover {
  color: #fff;
  background-color: #007aff;
}

.component__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -90px;
}

.plan {
  margin-top: 100px;
  padding: 120px 0px;
}

.plan__heading {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.plan__paragraph {
  max-width: 700px;
  width: 100%;
  padding-top: 24px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #505056;
}

.price {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.price__div {
  position: relative;
  margin-left: 32px;
  margin-top: 32px;
  max-width: 400px;
  width: 100%;
  padding-left: 32px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 6px;
}

.price__div:first-child {
  margin-left: 0px;
}

.price__div__heading {
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.price__div__heading > sub {
  margin-top: 30px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #71717a;
}

.price__div__paragraph-main {
  width: 260px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #505056;
}

.line {
  margin-bottom: 32px;
  display: block;
  width: 90%;
  border: 0.8px solid #9fcdff;
}

.price__div__paragraph {
  padding-bottom: 16px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #505056;
}

.price__div__paragraph::before {
  position: absolute;
  content: "";
  display: block;
  left: 30px;
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.price__div__button {
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 40px;
  margin: 30px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #007aff;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #007aff;
  transition: 0.3s all ease;
  cursor: pointer;
}

.price__div__button:hover {
  background-color: #007aff;
  color: #fff;
}

.customer {
  margin-top: 100px;
  margin-bottom: 80px;
}

.customer__heading {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0e1133;
}

.customer__parahraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.customer-div {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer__info {
  padding: 30px;
  margin-top: 31px;
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 4px;
}

.customer__info__image {
  padding-bottom: 30px;
  align-items: flex-start;
  text-align: left;
}

.customer__info__paragraph {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #505056;
}

.person {
  position: relative;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.person__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #0e1133;
}

.person__name:before {
  position: absolute;
  left: -80px;
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  background-image: url("../images/Avatar.png");
  background-repeat: no-repeat;
}

.robert:before {
  background-image: url("../images/robert.png");
}

.ronald:before {
  background-image: url("../images/ronald.png");
}

.marvin:before {
  background-image: url("../images/marvin.png");
}

.howard:before {
  background-image: url("../images/howard.png");
}

.jerome:before {
  background-image: url("../images/jerome.png");
}

.person__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #505056;
}

.download {
  padding: 150px 0px;
  background-color: #007aff;
  text-align: center;
}

.download__heading {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.download__paragraph {
  max-width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 21.3333px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form__input {
  max-width: 430px;
  width: 100%;
  padding: 15px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #9d9dbd;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: #9d9dbd;
}

.form__button {
  padding: 15px 28px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #fbaf5b;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.form__button:hover {
  background: #ffffff;
  color: #fbaf5b;
}

.download__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.download__span > span {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding-top: 120px;
  background-color: #0f172a;
}

.Links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.company__paragraph-main {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.company__link {
  padding: 20px 0px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16.8px;
  line-height: 26px;
  color: #e4e4e7;
  transition: 0.3s all ease;
}

.company__link:hover {
  color: #007aff;
  transform: translateY(-3px);
}

.Links > div {
  display: flex;
  flex-direction: column;
}

.footer__button {
  margin-top: 15px;
  margin-left: 0 !important;
  width: 210px;
  border: none;
}

.footer__button:hover {
  opacity: 0.7;
}

.footer__line {
  margin-bottom: 50px;
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border: 1.2px solid #1e293b;
}

.footer__last {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.sociial {
  display: flex;
}

.sociial > div {
  width: 25px;
  height: 25px;
  padding-top: 5px;
  padding-left: 6px;
  margin-left: 14px;
  background: #1e293b;
  border-radius: 30px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.sociial > div > img {
  justify-content: center;
}

.sociial > div:hover {
  background: #2563eb;
}

.footer__last > p {
  font-weight: 400;
  font-size: 16.8px;
  line-height: 26px;
  color: #a1a1aa;
  cursor: pointer;
}

.footer__last > p:hover {
  color: #007aff;
}

@media only screen and (max-width: 1240px) {
  .customer-div {
    display: flex;
    justify-content: center;
  }
  .customer__info {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1120px) {
  .components {
    flex-wrap: wrap;
  }
  .component__button {
    display: block;
    width: 30%;
  }
  .component {
    max-width: 400px;
    width: 100%;
  }
  .app__heading {
    font-size: 36px;
  }
  .app__image {
    height: 400px;
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .social {
    max-width: 600px;
    width: 100%;
  }
  .secure {
    margin-top: 30px;
  }
  .price {
    flex-wrap: wrap;
  }
  .price__div {
    max-width: 400px;
    width: 100%;
  }
  .plan {
    padding-top: 40px;
  }
  .plan__heading {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1000px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__info {
    padding-top: 40px;
    max-width: 80%;
    width: 100%;
    text-align: center;
  }
  .hero__info__heading {
    font-size: 42px;
  }
  .app .container,
  .expense .container {
    flex-direction: column;
    align-items: center;
  }
  .app__info {
    margin-top: 30px;
    max-width: 80%;
    width: 100%;
    text-align: center;
  }
  .secure {
    max-width: 240px;
    width: 100%;
    text-align: left;
  }
  .secure:last-child {
    margin-left: 30px;
  }
  .component__image {
    order: -1;
  }
  .expense__heading {
    font-size: 36px;
  }
  .funtionality {
    flex-wrap: wrap;
  }
  .expense__heading,
  .expense__paragraph {
    padding-top: 40px;
    max-width: 80%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .components {
    justify-content: center;
  }
  .component__button {
    display: block;
    width: 500px;
  }
  .price__div {
    margin-top: 32px;
  }
  .price__div:first-child {
    margin-left: 32px;
  }
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
} 
@media only screen and (max-width: 900px) {
  .price__div {
    max-width: 550px;
    width: 100%;
  }
  .functionality__child__heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  .functionality__child__paragraph {
    font-weight: 300;
    font-size: 14px;
  }
  .functionality {
    display: flex;
    flex-wrap: wrap;
  }
  .functionality__child {
    max-width: 600px;
    width: 100%;
    margin-left: 0px;
  }
  .desc {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .Links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .functionality__child {
    max-width: 600px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .hero__info {
    padding: 0;
  }
  .hero__info__heading {
    font-size: 32px;
  }
  .hero__info__paragraph {
    padding-right: 0px;
    font-size: 16px;
    line-height: 155%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #505056;
  }
  .hero__button-link {
    margin-left: -20px;
  }
  .app__heading {
    font-size: 36px;
  }
  .download__heading {
    font-size: 42px;
  }
  .form__button {
    padding: 15px;
  }
  .app__image {
    width: 340px;
    height: 400px;
  }
  .component__image {
    width: 340px;
    height: 400px;
  }
}
@media only screen and (max-width: 700px) {
  .social {
    justify-content: center;
    margin-left: 0px;
  }
  .secure {
    margin-left: 0;
  }
  .customer__heading {
    font-size: 30px;
  }
  .download {
    padding: 50px 0px;
  }
  .download__heading {
    font-size: 32px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form__input {
    max-width: 600px;
    width: 100%;
    justify-content: center;
  }
  .form__button {
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .desc__heading {
    font-weight: 500;
    font-size: 36px;
  }
  .functionality__child__heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
  }
  .functionality__child__paragraph {
    font-weight: 300;
    font-size: 12px;
  }
  .functionality__child__image {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 530px) {
  .nav__button {
    margin-right: 20px;
  }
  .hero__image {
    max-width: 300px;
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero__info__heading {
    font-size: 24px;
  }
  .hero__button > a {
    margin: 0 !important;
  }
  .hero__button-2 {
    margin-top: 20px;
    margin-left: 0px;
  }
  .app__heading {
    font-size: 24px;
  }
  .secure__heading {
    font-size: 16px;
  }
  .plan__heading {
    font-size: 24px;
  }
  .expense__heading {
    font-size: 28px;
  }
  .component__heading {
    font-size: 16px;
  }
  .logos {
    width: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }
  .logos-link {
    margin-top: 30px;
  }
  .customer__info {
    max-width: 500px;
    width: 100%;
  }
  .component__image {
    width: 250px;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */